odoo_test_helper

odoo-addon-document_knowledge @ git+https://github.com/OCA/knowledge.git@refs/pull/503/head#subdirectory=document_knowledge
odoo-addon-document_page @ git+https://github.com/OCA/knowledge.git@refs/pull/504/head#subdirectory=document_page
